.header {
  display: grid;
  grid-template-columns: 454px 1fr 450px;
  width: 1052px;
  /*height: 105px;*/
  margin: 92px auto 0;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  font-size: 18px;
  font-weight: 400;
  padding-left: 26.52px;
  padding-top: 44px;
  white-space: nowrap;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  padding-right: 26.48px;
  padding-top: 5px;
}
.header__address {
  width: 240.52px;
  height: 98px;
  font-weight: 400;
  font-size: 18px;
}

.phone_number {
  white-space: nowrap;
  line-height: 135%;
  letter-spacing: 0.01em;
  text-underline-position: under;
}

.email_link {
  white-space: nowrap;
  line-height: 135%;
  letter-spacing: 0.01em;
  text-underline-position: under;
}

.street {
  white-space: nowrap;
  line-height: 135%;
}

.main {
  width: 1100px;
  display: block;
}

.cover {
  min-height: 757px;
  margin-top: 96px;
  margin-bottom: 179px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.overlay {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
}

.cover__description {
  display: flex;
  width: 1100px;
  height: 757px;
  position: absolute;
}

.subline {
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  width: 637px;
  height: 28px;
  text-transform: uppercase;
  white-space: nowrap;
  padding-top: 667px;
  padding-left: 78px;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18.5px;
}

.button {
  position: absolute;
  z-index: 1;
  top: 655px;
  left: 794px;
  width: 256px;
  height: 51px;
  border: solid #ffffff 1px;
  background-color: #ffffff00;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 0;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  background-color: rgba(28, 62, 92, 0);
}

.accent__span {
  display: block;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}

.aligned-text_o,
.aligned-text_e,
.aligned-text_n {
  letter-spacing: 0.6em;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-top: 8px;
}

.aligned-text_right {
  text-align: end;
}
.aligned-text_do {
  letter-spacing: 0;
}

.lots {
  width: 1052px;
  height: 692px;
  position: relative;
  margin: 0 auto 181px;
  background-color: rgba(255, 255, 255, 0.822);
}

.lots__heading {
  text-transform: uppercase;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}

.card {
  width: 334px;
  height: 563px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*flex-grow: 1; где-то надо вставить*/
}

.card-link {
  min-height: 100%;
  text-decoration: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 254px;
  height: 516px;
  padding-left: 40px;
  padding-top: 51px;
}

.lots__card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link_title {
  position: relative;
  z-index: 1;
  width: 254px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.card__text {
  position: relative;
  z-index: 1;
  position: relative;
  text-decoration: none;
  width: 254px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.text-right-card {
  font-weight: 400;
  font-size: 20px;
}

.ellipsis {
  letter-spacing: 0.13em;
}

.lots__look-more-link {
  position: absolute;
  color: #000000;
  top: 667px;
  left: 40px;
  font-size: 20px;
  font-weight: 400;
  text-underline-position: under;
}
.about {
  width: 1052px;
  height: 595px;
  margin: 146px 24px 0;
  background-color: rgb(255, 255, 255);
}

.about__column {
  display: grid;
  grid-template-columns: 240px 693px;
  grid-template-rows: 595px;
  justify-content: space-between;
  padding-left: 47px;
  gap: 72px;
}

.about__logo {
  display: grid;
  place-content: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__article {
  width: 693px;
  height: 449px;
  padding-top: 100px;
  background-color: rgb(255, 255, 255);
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #000000;
}

.first_paragraph {
  padding-top: 100px;
  letter-spacing: 0.01em;
}

.second_paragraph {
  letter-spacing: 0.02em;
  padding-top: 24px;
}
.footer {
  width: 1000px;
  height: 98px;
  margin-top: 145px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 240.52px 149px 240px;
  justify-content: space-between;
}

.footer__address {
    display: grid;
    align-items: center;
    flex-flow: column nowrap;
    font-size: 18px;
    font-weight: 400;
  }
  
.footer__menu {
  display: flex;
}

.footer__links-list {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-underline-position: under;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  justify-content: space-between;
}

